* {
    padding: 0px;
    margin: 0px;
}

/* index.php */

/* home */
.home {
    /* height: 100vh; */
    width: 100%;
    background-image: url(photo/2.png);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    animation: changeImage 10s linear infinite;
}

@keyframes changeImage {
    25% {
        background-image: url(photo/2.png);
    }

    50% {
        background-image: url(photo/10.jpg);
    }

    75% {
        background-image: url(photo/9.jpg);
    }

    100% {
        background-image: url(photo/22.jpg);
    }
}

/* Navbar */

.logo {
    margin: 0%;
    padding: 0%;
    /* margin-right: 20%; */
}

.logo img {
    height: 70px;
    width: 220px;
    /* padding: 0px; */
    /* margin-left: 10%; */
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0%;
    background-color: rgba(26, 24, 24, 0.493);
    position: -webkit-sticky;
}

nav ul {
    list-style: none;
    margin: 0;
    /* PADDING-LEFT: 130px; */
    /* padding-right: 30px; */
    /* font-size: 64px; */
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 80px;
    font-size: 24px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* font-weight: bold; */

    font-family: "Merriweather", serif;
}

nav ul li a:hover {
    color: #3bbfc3;
    transition: 0.3s;
}

/* Navbar */

/* Topic  */
.camp .text {
    background-color: #0a0a0a59;
    width: 50%;
    height: 90px;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    font-size: 55px;
    color: #3bbfc3;
    font-family: "Playfair Display", serif;
}

.camp .text:hover {
    color: white;
}

.camp p:hover {
    color: white;
}

.camp p {
    width: 60%;
    margin-top: 1%;
    margin-left: 9%;
    text-align: center;
    font-size: 95px;
    color: #3bbfc3;
    font-family: "Playfair Display", serif;
}

/* Topic */

/* Search Button */
.search_1 {
    background-color: #000000;
    color: white;
    height: 10vh;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 355px;
}

.search_1 .search_2 input {
    color: rgb(1, 1, 1);
    border-radius: 7px;
    justify-content: space-between;
    height: 60px;
    width: 1000px;
    /* margin-top: 20px; */
    /* margin-left: 3px; */
    font-size: 30px;
}

/* .search_1 .search_2 select option{
    font-size: 30px;
} */
.search_1 .search_2 button {
    font-size: 30px;
    width: 150px;
    height: 60px;
    width: 150px;
    border-radius: 7px;
    background-color: white;
    /* color: red; */
}

/* Search Button */

/* home */

/* middle */

/* welcome to travelling nepal */

.middle {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    height: 100vh;
    /* background-color: #07ac9f; */
}

.middle p {
    /* margin-top: 2%; */
    font-size: 24px;
    font-family: Merriweather;
}

.middle .top {
    font-family: "Merienda", cursive;
}

.middle h3 {
    font-size: 64px;
    padding: 3%;
    font-style: italic;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
}

/* 
.middle_last{
    background-color: #f7f7fa;
    padding-bottom: 4%;
} */

/* for staff / booking  icon  */
.last {
    /* margin-left: 10%; */
    text-align: center;
    margin-top: 3%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.last p {
    font-family: "Merienda", cursive;
    font-weight: bolder;
}

.icon_last i {
    font-size: 110px;
}

.last ul li {
    display: inline-block;
    font-size: 30px;
    /* margin-bottom: 0%; */
    /* margin-top: 0%; */
    padding: 0px 80px;
}

.last ul li h5 {
    display: inline-block;
    font-size: 15px;
    margin-top: 30%;
    margin-bottom: 0%;
}

/* choose your adventure */
.category {
    background-color: #f1f1f1;
    text-align: center;
    height: 100vh;
}

h3.top_text {
    font-family: "Merienda", cursive;
    font-size: 24px;
    padding-top: 30px;
}

h3.bottom_text {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}

/* for photos and gallary */

.sub_factor {
    margin: 40px 235px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
}

.card-img-top {
    width: 100%;
    height: 25vh;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 24px;
    /* color: #3BBFC3; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}

/* explore package button */
.class {
    text-align: center;
    margin-top: 1%;
}

.class button {
    background-color: #3bbfc3;
    width: 200px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
    /* margin-bottom: 30px; */
}

.class button a {
    color: white;
    text-decoration: none;
}

.class button a:hover {
    color: #0a0a0a;
}

/* for photos and gallary */

/* packages */
.Package {
    background-color: #3bbfc3;
    text-align: center;
    height: 100vh;
}

.sub_factor_package {
    margin: 90px 235px;
}

.card_package {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    height: 580px;
    border-radius: 70px 0px 70px 0px;
    background-color: #fff;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
}

.card-img-top_package {
    width: 100%;
    height: 30vh;
    padding: 40px;
}

.card-title_package {
    margin-bottom: 15px;
    font-size: 36px;
    /* color: #3BBFC3; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}

.icon {
    display: inline-flex;
    /* flex-wrap: nowrap; */
    justify-content: flex-end;
    align-items: center;
}

.icon i {
    font-size: 30px;
    color: #3bbfc3;
}

.icon_1 {
    /* font-size: 15px; */
    display: inline-flex;
    justify-content: center;
    /* align-items: center; */
    padding: 5px;
    align-content: center;
}

.icon_text {
    padding-left: 10px;
}

p.heading {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

p.sub_heading {
    margin: 0;
    font-size: 15px;
    /* color: #ffffff; */
}

.price {
    margin: 15px;
}

.price h2 {
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: 800;
    margin: 0;
    /* color: #3bbfc3; */
}

.book_button {
    padding-top: 5%;
    text-align: center;
}

.book_button button {
    background-color: #3bbfc3;
    font-size: 20px;
    width: 150px;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    border: none;
}

.book_button button a {
    text-decoration: none;
    color: white;
}

.book_button button a:hover {
    color: black;
}

.class_package {
    text-align: center;
    margin-top: 1%;
}

.class_package button {
    background-color: white;
    width: 200px;
    border: none;
    outline: none;
    color: #3bbfc3;
    height: 35px;
    border-radius: 30px;
    margin-top: 60px;
    font-size: 20px;
    /* margin-bottom: 30px; */
}

.class_package button a {
    color: #3bbfc3;
    text-decoration: none;
}

.class_package button a:hover {
    color: #0a0a0a;
}

/* Packages */


@media screen and (max-width: 1366px) {

    .logo img {
        height: 55px;
        width: 170px;
    }

    nav ul li {
        font-size: 18px;
    }

    .camp .text {
        margin-top: 11%;
        width: 50%;
        height: 70px;
        font-size: 48px;
    }

    .camp p {
        width: 55%;
        font-size: 72px;
    }

    .search_1 {
        height: 11vh;
        font-size: 28px;
        margin-top: 315px;
    }

    .search_1 .search_2 input {
        width: 900px;
        height: 50px;
        font-size: 24px;
    }

    .search_1 .search_2 button {
        font-size: 24px;
        width: 150px;
        height: 50px;
    }

    .middle {
        font-size: 10px;
    }

    .middle p {
        /* margin-top: 2%; */
        font-size: 18px;
    }

    .middle h3 {
        font-size: 42px;
        padding-top: 20px;
    }

    .icon_last i {
        font-size: 100px;
    }

    .last {
        margin-top: 50px;
    }

    .last ul li {
        font-size: 20px;
    }

    .last ul li h5 {
        font-size: 10px;
    }

    h3.top_text {
        color: black;
        font-size: 18px;
    }

    h3.bottom_text {
        font-size: 36px;
    }


    .card {
        height: 230px;
        /* width: 200px; */
    }

    .card-img-top {
        width: 100%;
        height: 20vh;
    }

    .card-title {
        font-size: 16px;
    }

    /* explore package button */

    .class button {
        font-size: 18px;
    }

    .card_package {
        height: 450px;
    }

    .card-title_package {
        font-size: 24px;
    }

    .icon_1 {

        padding: 0px;

    }

    .icon_text {
        padding-left: 2px;
    }

    .icon i {
        font-size: 20px;
        /* color: #3bbfc3; */
    }


    .card-body {
        flex: 1 1 auto;
        /* padding: 1rem 1rem; */
    }

    p.heading {
        /* margin: 0; */
        font-size: 9px;
        /* font-weight: bold; */
    }

    p.sub_heading {
        /* margin: 0; */
        font-size: 9px;
        /* color: #3bbfc3; */
    }

    .price h2 {
        font-size: 20px;
    }

    .price {
        margin: 10px;
    }

    .book_button button {
        font-size: 14px;
    }

    .book_button {
        padding-top: 3%;
    }

    .class_package {
        text-align: center;
        margin-top: 1%;
    }

    .class_package button {
        height: 35px;

        margin-top: 40px;
        font-size: 16px;
        /* margin-bottom: 30px; */
    }

    .contact {
        padding-top: 15px;
        /* width: 100%; */
        /* height: 80vh; */
        /* margin: auto; */
        /* background-color: #f1f1f1; */

    }


    .contact-box {
        /* display: flex; */
        /* justify-content: center; */
        padding-top: 30px;
    }

    .contact-top h3 {
        /* text-align: center; */
        /* font-family: Playfair Display; */
        font-size: 30px;
    }

    .contact-top textarea {
        /* width: 100%; */
        /* border: 1px solid #0a0a0a; */
        /* outline: none; */
        padding: 7px;
        /* box-sizing: border-box; */
        /* border: none; */
        /* border-bottom: 1px solid #0e0d10; */
    }

    .contact_container {
        padding-top: 24px;
    }

    .contact-bottom {
        padding-top: 20px;
    }

    .icon_1 {

        /* display: inline-flex;
    justify-content: center;
    align-items: center; */
        padding: 5px;
        /* align-content: center; */
    }

    .icon_1 a {
        /* color: black; */
        /* text-decoration: none; */
        font-size: 30px;
    }
    .details {
        font-size: 18px;
        /* padding-left: 20px; */
    }


}

@media screen and (min-device-width: 768px) and (max-device-width:1024px) {}


@media screen and (min-device-width: 480px) and (orientation:portrait) {}




/* contact section */
.contact {
    padding-top: 20px;
    width: 100%;
    height: 80vh;
    margin: auto;
    background-color: #f1f1f1;

}

.contact .bottom_text {
    text-align: center;
}

.contact_container {
    padding-top: 40px;
}


.contact-box {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contact-top {
    flex-basis: 70%;
    /* padding-left: 10%; */
    /* padding-bottom: 30px; */
}

.contact-top h3{
    text-align:center; 
    font-family: Playfair Display; 
    font-size: 40px; 
}

.contact-top textarea {
    width: 100%;
    border: 1px solid #0a0a0a;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #0e0d10;
}


.contact-bottom {
    margin-top: 40px;
}

.contact_icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.icon_1 {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    align-content: center;
}

.icon_1 a {
    color: black;
    text-decoration: none;
    font-size: 40px;
}

.details {
    font-size: 24px;
    padding-left: 20px;
}
 .details p {
    margin:0;
}




/* footer */
ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.footer {
    background-color: rgb(27, 25, 25);
    padding: 40px;
}

.footer-col {
    width: 25%;
    padding: 15px;
}

.footer-col h4 {
    font-size: 30px;

    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    background-color: #3bbfc3;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;

    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    background-color: #3bbfc3;
    color: white;
    text-align: center;
    display: inline-block;
    transition: all 0.5s ease;
}

.footer-col .social-links a {
    font-size: 30px;
    height: 40px;
    width: 40px;
    color: white;
    margin: 0 10px 10px 0;
    /* text-align: center; */
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    display: block;
    padding-top: 0px;
}

.footer-col .social-links a:hover {
    color: #3bbfc3;
    text-align: center;
    display: inline-block;
}

.copyright {
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: #0a0a0a;
    padding: 1%;
}



/* category */

.home_top {
    height: 80vh;
    width: 100%;
    background-image: url(photo/2.png);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    animation: changeImage 10s linear infinite;
}


.text_1 {
    color: white;
    /* font-size: 90px; */
    font-style: italic;
    padding-left: 15%;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    margin-top: 15%;
    /* margin-bottom: 5%; */
}

.text_1 h1 {
    color: white;
    font-size: 90px;
    font-style: italic;
    /* padding-left: 15%; */
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    /* margin-top: 10%; */
    /* margin-bottom: 5%; */
}

.breadcrumb {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 0 0; */
    /* padding-left: 300px; */
    /* padding-top: 500px; */
    margin: 0;
    /* color: white; */
    /* margin-bottom: 1rem; */
    list-style: none;
}

.breadcrumb-item a {
    color: #fdfdfd;
    text-decoration: none;
}

.breadcrumb-item active {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #ffffff;
    content: var(--bs-breadcrumb-divider, "/");
}

.category_1 {
    background-color: #ffffff;
    text-align: center;
    height: 100vh;
}

.category_1 h3.top_text {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    /* font-size: 24px; */
    padding-top: 30px;
}

.category_1 h3.bottom_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    /* font-style: italic; */
    font-weight: bold;
}

.sub_factor_category {
    margin: 90px 235px;
}

.card_category {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    height: 580px;
    border-radius: 70px 0px 70px 0px;
    background-color: #3bbfc3;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
}

.card-img-top_category {
    width: 100%;
    height: 30vh;
    padding: 40px;
}

.card-title_category {
    margin-bottom: 15px;
    font-size: 36px;
    /* color: #3BBFC3; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}



.category_1_detail {
    margin: 15px;
}

.category_1_detail p {
    font-size: 16px;
    font-family: "Merienda", cursive;
    font-weight: 800;
    margin: 0;
    /* color: #3bbfc3; */
}

.book_button_category {
    padding-top: 5%;
    text-align: center;
}

.book_button_category button {
    background-color: #ffffff;
    font-size: 20px;
    width: 150px;
    outline: none;
    color: #000000;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
    height: 35px;
    border-radius: 30px;
    border: none;
}

.book_button_category button a {
    text-decoration: none;
    color: #000000;
}

.book_button_category button a:hover {
    color: #3bbfc3;
}

/* .class_category {
    text-align: center;
    margin-top: 1%;
}

.class_category button {
    background-color: #3bbfc3;
    width: 200px;
    border: none;
    outline: none;
    color: #ffffff;
    height: 35px;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 30px;
} 

.class_category button a {
    color: black;
    background-color: #3bbfc3;
    text-decoration: none;
}

.class_category button a:hover {
    color: #0a0a0a;
}  */




/* Subcategory */

.sidenav_top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 90px;
}

.line {
    width: 1px;
    height: 500px;
    background-color: black;
    margin-right: 50px;
    margin-left: 50px;
}

/* Fixed sidenav, full height */
.sidenav {
    width: 500px;
    z-index: 1;
    top: 550px;
    left: 0;
    overflow-x: hidden;
    padding-left: 200px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: #3bbfc3;
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: revert;
    text-rendering: auto;
    top: 20px;
}

/* Main content */
.main {
    /* margin-left: 200px; */
    /* font-size: 20px; */
    /* padding-right: 200px; */
    display: flex;
}

.main_1 {
    font-size: 20px;
    padding-right: 200px;
    display: flex;

}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: white; */
    color: #3bbfc3;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    /* background-color: #262626; */
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.sub_container {
    padding-left: 30px;
    align-items: end;
    text-align: -webkit-left;
}

.sub_container a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: 500;
}

.main_heading h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
}

.main_paragraph p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Subcategory */

/* css for packages packages.php */

/* heading_of_packages */

.heading_of_package .head h1 {
    color: black;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 50px;
    font-style: italic;

}

/* for packages one */
.package {
    display: inline-flex;
    background-color: white;

}

.package .box {
    margin-left: 5%;
}

.package .box select {
    color: rgb(1, 1, 1);
    margin-bottom: 20%;
    justify-content: space-between;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 3px;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid black;
}

/* line */
.package .line {
    border-left: 2px solid black;
    height: 500px;
    position: absolute;
    left: 21%;

}

.package .package_1 .for_img {
    margin-top: 20px;
    margin-left: 6%;
    margin-right: 5%;
    background-color: #0a0a0a;
    height: 300px;
    width: 100%;
}

.package .package_1 .for_img img {
    height: 100%;
    width: 100%;
}

.package .package_1 {
    display: inline-flex;
    margin-bottom: 5%;

}

/* horizontal line */
.package .column {
    width: 950px;
    height: 2px;
    background-color: black;
    margin-bottom: 3%;
    margin-left: 5%;
}

.package .package_1 .text_1 {
    margin-left: 1%;
    margin-right: 5%;
    margin-top: 20px;
    margin-right: 5%;
    margin-top: 20px;

}

.package .package_1 .text_1 .view {
    margin-top: 3%;
}

.package .package_1 .text_1 .view button {
    border: none;
    font-size: 20px;
    background-color: rgb(224, 223, 222);
    border-bottom: 1px solid;
    font-style: italic;
    border-radius: 5px;
    outline: none;
}

.package .package_1 .text_1 .view button a {
    text-decoration: none;
    color: black;
}

.package .package_1 .text_1 .view button a:hover {
    color: #3BBFC3;
}


.package .package_1 .text_1 p {
    font-size: 20px;

}

.package .package_1 .text_1 h1 {
    padding-bottom: 3%;


}

.package .package_1 .text_1 p {
    padding-top: 1%;

}


/* testimonials */
.testimonial {
    text-align: center;
}

.testimonial h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 3%;
}

.testimonial p {
    text-align: center;

    margin: 5%;
    font-size: 20px;
}

.testimonial_1 {
    padding-bottom: 5%;
}

/* client_1 */

.client_1 {
    display: inline-block;
    color: black;
    background-color: #0e0d1009;
    width: 30%;
    border-radius: 50px 0px 50px 0px;
    text-align: center;
}

/* vertucak line */

.client_1 .name .vertical_line {
    width: 200px;
    height: 8px;
    background-color: #3bbfc3;
    margin-bottom: 5%;
    margin-left: 25%;
}

.client_1 .name i {
    color: rgb(235, 205, 38);
    font-size: 30px;
    text-align: center;
    margin-bottom: 3%;
}

.client_1 .img_1 img {
    padding-top: 3%;
    border-radius: 50%;
    height: 150px;
    width: 140px;
    margin-left: 3%;
}

.client_1 p {
    font-size: 20px;
    margin-top: 5%;
}

/* client_2 */
.client_2 {
    display: inline-block;
    color: black;
    background-color: #0e0d1009;
    width: 30%;
    border-radius: 50px 0px 50px 0px;
    text-align: center;
}

/* vertical line */
.client_2 .name .vertical_line {
    width: 200px;
    height: 8px;
    background-color: #3bbfc3;
    margin-bottom: 5%;
    margin-left: 25%;
}

.client_2 .name i {
    color: rgb(235, 205, 38);
    font-size: 30px;
    text-align: center;
    margin-bottom: 3%;
}

.client_2.img_2 img {
    padding-top: 3%;
    border-radius: 60%;
    height: 150px;
    width: 140px;
    margin-left: 3%;
}

.client_2 .img_2 img {
    padding-top: 3%;
    border-radius: 50%;
    height: 150px;
    width: 140px;
    margin-left: 3%;
}

.client_2 p {
    font-size: 20px;
    margin-top: 5%;
}

/* client_3 */
.client_3 {
    display: inline-block;
    color: black;
    width: 30%;
    text-align: center;
    background-color: #0e0d1009;
    border-radius: 50px 0px 50px 0px;
}

/* vertical line */
.client_3 .name .vertical_line {
    width: 200px;
    height: 8px;
    background-color: #3bbfc3;
    margin-bottom: 5%;
    margin-left: 25%;
}

.client_3 .name i {
    color: rgb(235, 205, 38);
    font-size: 30px;
    text-align: center;
    margin-bottom: 3%;
}

.client_3 .img_3 img {
    padding-top: 3%;
    border-radius: 50%;
    height: 150px;
    width: 140px;
    margin-left: 3%;
}

.client_3 p {
    font-size: 20px;
    margin-top: 5%;
}

/* css for uppar mustnag trek package uppar mustang trek.php */

/* heading_of_uppar mustnag */


 .text_1 {
    color: white;
    /* font-size: 90px; */
    font-style: italic;
    padding-left: 10%;
    margin-top: 20%;

}

.heading_of_package h1{
    color: rgb(7, 172, 159) ;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 50px;

}

/* uppar_mustnag text */


.uppar_mustang{
    
 display: flex;
}
.uppar_mustang .about{
    
    width: 50%;
    padding: 9%;
    
}
.uppar_mustang .about p{
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
  
}

 .trip p{
    padding-bottom: 2%;
   
}
.trip .image{
    text-align: center;
}
.trip .image img{

   
    padding:3%;
}

/* vertical line */


.Package_line {
    border: 1px solid;
    height: 500px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}


/* about_1 */

.uppar_mustang .about_1{
    width: 50%;
    padding: 9%;
    text-align: center;

}
.uppar_mustang .about_1 h1{
    color:black;
    font-size: 60px;
    padding-bottom: 2%;
}
.uppar_mustang .about_1 h2{
    color:rgb(7, 172, 159);
    font-size: 50px;
    padding-bottom: 2%;
    font-style: italic;
    font-family: "Playfair Display", serif;
    font-weight: 900;

}

/* butoon_1 */

.uppar_mustang .about_1 .button_1{
    margin: 3%;
    padding-top: 4%;
   

}
.uppar_mustang .about_1 .button_1 button{
    background-color: rgb(7, 172, 159);
    font-size: 30px;
    width: 200px;   
    outline: none;
    color: white;
    height: 40px;
    border-radius: 30px;
    border: none;
}
.uppar_mustang .about_1 .button_1 button a{
   text-decoration: none;
    color: white;
 
}
.uppar_mustang .about_1 .button_1 button a:hover{
color: #0e0d10;
}

/* button_2 */


.uppar_mustang .about_1 .button_2{
    margin: 3%;
    padding-top: 4%;
   

}
.uppar_mustang .about_1 .button_2 button{
    background-color: white;
    font-size: 24px;
    width: 200px;   
    outline: none;
    color: rgb(7, 172, 159);
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgb(7, 172, 159);

}
.uppar_mustang .about_1 .button_2 button a{
    color: black;
    text-decoration: none;
}
.uppar_mustang .about_1 .button_2 button a:hover{
    color: rgb(7, 172, 159);;
}

/* icons */
.Package_icon {
    margin: 0px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon_heading {
    display: flex;
}

.icon_package {
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 5px; */
    /* font-size: 40px; */
    margin: 0px 20px;
    align-content: center;
}

.icon_package i{
    font-size: 40px;
    color: #3bbfc3;
}

.sub_details {
    padding-left: 40px;
    font-size: 36px;
    font-weight: 500;
}

.sub_details_1 {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    color: #3bbfc3;
  font-weight: bolder;
  font-style: italic;

}

/* icons */


/* Trip overviews */

.trip{
   
    margin-top: 5%;
}

.trip h1{
    padding-top: 3%;
    padding-left: 8%;
    /* padding-right: 8%; */
    padding-bottom: 3%;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
}

.trip p{
    padding-left: 8%;
    padding-right: 8%;
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

/* itineary */


.itinerary .day_1{
     margin-left: 8%;
     margin-right: 8%;
     margin-bottom: 10px;
    background-color:  #3bbfc3;
    padding-left: 4%;
    color:black;
    outline: none;
    border: none;
    border-radius: 40px;
}
.itinerary .day_1 p{
    padding-left: 10%;
    font-size: 30px;
    margin: 0;
}
.itinerary .day_1 h2{
    font-size: 40px;
    margin: 0;
}
.itinerary .heading{
    margin-left: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.itinerary .heading h1{
    font-size: 60px;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
}

/* include section */

.include .include_list h1{
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
    

}
.include .include_list{
 margin-left: 8%;
 margin-right: 8%;
 font-size: 30px;
 


}

.include .include_list li:before{
  content: " \2022";
  font-size: 50px;
  color: black;
  margin-right: 15px;


}

/* excludes section */
.include .exclude_list h1{
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
    

}
.include .exclude_list{
 margin-left: 8%;
 margin-right: 8%;
 font-size: 30px;
 


}

.include .exclude_list li:before{
  content: " \2A2F";
  font-size: 50px;
  color: red;
  margin-right: 15px;
}

/* google map */
.map{
 margin-bottom: 8%;
}
.map .map_text h1{
    padding-left: 8%;
    padding-top: 4%;
    font-size: 60px;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
}
.map .map_img{
    text-align: center;
    margin-top: 8%;
    
    width: 100%;
}

.map .google_map_text h1{
    padding-left: 8%;
   text-align: center;
    font-size: 30px;
    
    
}
.map .google_map{
    text-align: center;
    padding-top: 8%;
}
.map .google_map iframe{
    width: 80%;
    height: 500px;
}

/* css for booking page booking.php */

/* heading_of_packages */

.heading_of_package h1{
    color: rgb(7, 172, 159) ;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 50px;

}

/* booking_form */

.booking_form .form_1{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;

}

/* input_1 */

.booking_form .form_1 .input_1{
    margin: 2%;
}
.booking_form .form_1 .input_1 select{
    width: 100%;
    height: 40px;
    font-size: 20px;
}

.booking_form .form_1 .input_1 h1{
    margin-bottom: 2%;
    color:black;
    font-style: italic;
}

/* input_2 */

.booking_form .form_1 .input_2{
    margin: 2%;
}
.booking_form .form_1 .input_2 input{
    width: 33%;
    height: 40px;
    font-size: 20px;
}
.booking_form .form_1 .input_2 h1{
    margin-bottom: 2%;
    color: black;
    font-style: italic;
}

/* input_3 */

.booking_form .form_1 .input_3{
    margin: 2%;
}

.booking_form .form_1 .input_3 input{
    width: 5%;
    height: 20px;
 
}
.booking_form .form_1 .input_3 label{
    font-size: 20px;
}

/* input_4 */

.booking_form .form_1 .input_4{
    margin: 2%;
}
.booking_form .form_1 .input_4 input{
    width: 300px;
    height: 40px;
}
.booking_form .form_1 .input_4 select{
    width: 260px;
    height: 40px;
    font-size: 20px;
}
.booking_form .form_1 .input_4 input{
    font-size: 20px;
}
.booking_form .form_1 .input_4 label{
    font-size: 20px;
}

/* input_5*/

.booking_form .form_1 .input_5{
    margin: 2%;
}

.booking_form .form_1 .input_5 input{
    width: 40.5%;
    height: 40px;
    font-size: 20px;
}
.booking_form .form_1 .input_5 label{
    font-size: 20px;
}

/* input_6 */
.booking_form .form_1 .input_6{
    margin: 2%;
}
.booking_form .form_1 .input_6 input{
    width: 33%;
    height: 40px;
    font-size: 20px;
}
.booking_form .form_1 .input_6 label{
    font-size: 20px;
}

/* Form_2 */
.booking_form .form_2{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
   
}

/* input_1 */

.booking_form .form_2 .input_1{
    margin: 2%;

}
.booking_form .form_2 .input_1 h1{
    margin-bottom: 2%;
   color: black;
   font-style: italic;
}
.booking_form .form_2 .input_1 input{
    width: 24.7%;
    height: 40px;
    font-size: 20px;
   
}

/* input_2 */

.booking_form .form_2 .input_2{
    margin: 2%;
}
.booking_form .form_2 .input_2 textarea{
    width: 100%;
    height: 40px;
    font-size: 20px;
}
.booking_form .form_2 .button_1{
  padding: 2%;
    
}
.booking_form .form_2 .button_1 button{
    background-color:   rgb(7, 172, 159);
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

/* css for enquiry page enquiry.php */

/* enquiry booking_form */

.booking_form{


    padding-bottom: 3%;
}
.booking_form .form_1{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 6%;

}

/* input_1 */

.booking_form .form_1 .input_1{
    margin: 2%;
}
.booking_form .form_1 .input_1 select{
    width: 100%;
    height: 40px;
    font-size: 20px;
}

/* input_2 */

.booking_form .form_1 .input_2{
    margin: 2%;
}
.booking_form .form_1 .input_2 input{
    width: 33%;
    height: 40px;
    font-size: 20px;

}
.booking_form .form_1 .input_2 h1{
    margin-bottom: 2%;
    color: black;
    font-style: italic;
}

/* input_6 */


.booking_form .form_1 .input_6{
    margin: 2%;
}
.booking_form .form_1 .input_6 input{
    width: 49.5%;
    height: 40px;
    font-size: 20px;
}
.booking_form .form_1 .input_6 label{
    font-size: 20px;
}

/* textarea sector*/

.booking_form .form_1 .input_3{
    margin: 2%;
}


.booking_form .form_1 .input_3 textarea{
    width: 100%;
    height: 40px;
    font-size: 20px;

}

/* button */
.booking_form .form_1 .button_1{
    margin: 2%;
}

.booking_form .form_1 .button_1 button{
    background-color: rgb(7, 172, 159);
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 5%;
}

/* css for category page category.php */

.category .heading_text {
    font-size: 30px;
    font-style: italic;
}

.category .heading_text h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

.category .heading_text h4 {
    text-align: center;
}

.category .sub_category {
    display: flex;

    margin: 0px 2%;
}

.category .sub_category .sub_1 {
    background-color: rgb(7, 172, 159);
    width: 33%;
    height: 570px;
    margin: 3%;
    border-radius: 70px 0px;
}

.category .sub_category .sub_1 .img img {
    width: 20%;
    height: 200px;
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;

    border-radius: 40px;
}

.category .sub_category .sub_1 .about {
    margin-top: 240px;
    height: 240px;
}

.category .sub_category .sub_1 .about h1 {
    text-align: center;
    font-size: 25px;
    padding-top: 5%;
}

.category .sub_category .sub_1 .about p {
    text-align: center;
    padding: 5%;
    font-size: 20px;
}

.category .sub_category .sub_1 .button {
    text-align: center;
}

.category .sub_category .sub_1 .button button {
    background-color: white;
    width: 150px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.category .sub_category .sub_1 .button button a {
    text-decoration: none;
    color: black;
}

.category .sub_category .sub_1 .button button a:hover {
    color: rgb(7, 172, 159);
}

.category .last_button {
    text-align: center;
    margin: 8%;
}

.category .last_button button {
    font-size: 20px;
    width: 200px;
    text-decoration: none;
    outline: none;
    color: white;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(7, 172, 159);
}