* {
    padding: 0px;
    margin: 0px;
}

/* index.php */

/* home */
.home {
    /* height: 100vh; */
    width: 100%;
    background-image: url(photo/2.png);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    animation: changeImage 10s linear infinite;
}

@keyframes changeImage {
    25% {
        background-image: url(photo/2.png);
    }

    50% {
        background-image: url(photo/10.jpg);
    }

    75% {
        background-image: url(photo/9.jpg);
    }

    100% {
        background-image: url(photo/22.jpg);
    }
}

/* Navbar */

.logo {
    margin: 0%;
    padding: 0%;
    /* margin-right: 20%; */
}

.logo img {
    height: 70px;
    width: 220px;
    /* padding: 0px; */
    /* margin-left: 10%; */
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0%;
    background-color: rgba(26, 24, 24, 0.493);
    position: -webkit-sticky;
}

nav ul {
    list-style: none;
    margin: 0;
    /* PADDING-LEFT: 130px; */
    /* padding-right: 30px; */
    /* font-size: 64px; */
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 80px;
    font-size: 24px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* font-weight: bold; */

    font-family: "Merriweather", serif;
}

nav ul li a:hover {
    color: #3bbfc3;
    transition: 0.3s;
}

/* Media Query for screen size between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    /* Adjust styles here for the specified screen size range */
    .logo img {
        height: 50px;
        width: 160px;
    }

    nav ul li {
        padding-right: 40px;
        font-size: 20px;
    }

    /* Add any other styles specific to this screen size range */
}

/* Navbar */

/* Topic  */
.camp .text {
    background-color: #0a0a0a59;
    width: 50%;
    height: 90px;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    font-size: 55px;
    color: #3bbfc3;
    font-family: "Playfair Display", serif;
}

.camp .text:hover {
    color: white;
}

.camp p:hover {
    color: white;
}

.camp p {
    width: 60%;
    margin-top: 1%;
    margin-left: 9%;
    text-align: center;
    font-size: 95px;
    color: #3bbfc3;
    font-family: "Playfair Display", serif;
}

/* Topic for Media Query */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .camp .text {
        background-color: #0a0a0a59;
        width: 50%;
        height: 90px;
        margin-top: 10%;
        margin-left: 10%;
        text-align: center;
        font-size: 40px; /* Adjust font size for smaller screens */
        color: #3bbfc3;
        font-family: "Playfair Display", serif;
    }

    .camp .text:hover {
        color: white;
    }

    .camp p:hover {
        color: white;
    }

    .camp p {
        width: 60%;
        margin-top: 1%;
        margin-left: 9%;
        text-align: center;
        font-size: 70px; /* Adjust font size for smaller screens */
        color: #3bbfc3;
        font-family: "Playfair Display", serif;
    }
}

/* Topic */

/* Search Button */
.search_1 {
    background-color: #000000;
    color: white;
    height: 10vh;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 355px;
}

.search_1 .search_2 input {
    color: rgb(1, 1, 1);
    border-radius: 7px;
    justify-content: space-between;
    height: 60px;
    width: 1000px;
    /* margin-top: 20px; */
    /* margin-left: 3px; */
    font-size: 30px;
}

/* .search_1 .search_2 select option{
    font-size: 30px;
} */
.search_1 .search_2 button {
    font-size: 30px;
    width: 150px;
    height: 60px;
    width: 150px;
    border-radius: 7px;
    background-color: white;
    /* color: red; */
}


/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .search_1 {
        /* height: 7vh; */
        font-size: 30px;
        margin-top: 315px;
    }

    .search_1 .search_2 input {
        height: 50px;
        width: 800px;
        font-size: 26px;
    }

    .search_1 .search_2 button {
        font-size: 26px;
        width: 130px;
        height: 50px;
    }
}
/* Search Button */

/* home */

/* middle */

/* welcome to travelling nepal */

.middle {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    height: 100vh;
    /* background-color: #07ac9f; */
}

.middle p {
    /* margin-top: 2%; */
    font-size: 24px;
    font-family: Merriweather;
}

.middle .top {
    font-family: "Merienda", cursive;
}

.middle h3 {
    font-size: 64px;
    padding: 3%;
    font-style: italic;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
}

/* 
.middle_last{
    background-color: #f7f7fa;
    padding-bottom: 4%;
} */

/* for staff / booking  icon  */
.last {
    /* margin-left: 10%; */
    text-align: center;
    margin-top: 3%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.last p {
    font-family: "Merienda", cursive;
    font-weight: bolder;
}

.icon_last i {
    font-size: 110px;
}

.last ul li {
    display: inline-block;
    font-size: 30px;
    /* margin-bottom: 0%; */
    /* margin-top: 0%; */
    padding: 0px 80px;
}
/* 
.last ul li h5 {
    display: inline-block;
    font-size: 15px;
    margin-top: 30%;
    margin-bottom: 0%;
} */

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    

    .middle p {
        font-size: 18px;
        font-family: Merriweather;
    }

    .middle .top {
        font-family: "Merienda", cursive;
    }

    .middle h3 {
        font-size: 40px; /* Adjust the font size for h3 in the middle class for this media query */
        
    }

    
    .last p {
        font-family: "Merienda", cursive;
        font-weight: bolder;
    }

    .icon_last i {
        font-size: 120px; /* Adjust the font size for the icon in the last class for this media query */
    }

   

    .last ul li h5 {
        display: inline-block;
        font-size: 12px; /* Adjust the font size for the h5 in the last class for this media query */
        margin-top: 20%; /* Adjust the margin for the h5 in the last class for this media query */
        margin-bottom: 0%;
    }
}


/* choose your adventure */
.category {
    background-color: #f1f1f1;
    text-align: center;
    height: 100vh;
}

h3.top_text {
    font-family: "Merienda", cursive;
    font-size: 24px;
    padding-top: 30px;
}

h3.bottom_text {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}

/* for photos and gallary */

.sub_factor {
    margin: 40px 235px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
}

.card-img-top {
    width: 100%;
    height: 25vh;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 24px;
    /* color: #3BBFC3; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}

/* explore package button */
.class {
    text-align: center;
    margin-top: 1%;
}

.class button {
    background-color: #3bbfc3;
    width: 200px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
    /* margin-bottom: 30px; */
}

.class button a {
    color: white;
    text-decoration: none;
}

.class button a:hover {
    color: #0a0a0a;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .sub_factor {
        margin: 40px 100px; /* Adjust the margin for this screen size range */
    }

    .card-img-top {
        height: 20vh; /* Adjust the image height for this screen size range */
    }

    .card-title {
        font-size: 18px; /* Adjust the font size for card titles for this screen size range */
    }

    .class button {
        width: 180px; /* Adjust the button width for this screen size range */
        font-size: 18px; /* Adjust the button font size for this screen size range */
    }
}

/* for photos and gallary */

/* packages */
.Package {
    background-color: #3bbfc3;
    text-align: center;
    height: 100vh;
}

.sub_factor_package {
    margin: 90px 235px;
}

.card_package {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    height: 580px;
    border-radius: 70px 0px 70px 0px;
    background-color: #fff;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
}

.card-img-top_package {
    width: 100%;
    height: 30vh;
    padding: 40px;
}

.card-title_package {
    margin-bottom: 15px;
    font-size: 36px;
    /* color: #3BBFC3; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}

.icon {
    display: inline-flex;
    /* flex-wrap: nowrap; */
    justify-content: flex-end;
    align-items: center;
}

.icon i {
    font-size: 30px;
    color: #3bbfc3;
}

.icon_1 {
    /* font-size: 15px; */
    display: inline-flex;
    justify-content: center;
    /* align-items: center; */
    padding: 5px;
    align-content: center;
}

.icon_text {
    padding-left: 10px;
}

p.heading {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

p.sub_heading {
    margin: 0;
    font-size: 15px;
    /* color: #ffffff; */
}

.price {
    margin: 15px;
}

.price h2 {
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: 800;
    margin: 0;
    /* color: #3bbfc3; */
}

.book_button {
    padding-top: 5%;
    text-align: center;
}

.book_button button {
    background-color: #3bbfc3;
    font-size: 20px;
    width: 150px;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    border: none;
}

.book_button button a {
    text-decoration: none;
    color: white;
}

.book_button button a:hover {
    color: black;
}

.class_package {
    text-align: center;
    margin-top: 1%;
}

.class_package button {
    background-color: white;
    width: 200px;
    border: none;
    outline: none;
    color: #3bbfc3;
    height: 35px;
    border-radius: 30px;
    margin-top: 60px;
    font-size: 20px;
    /* margin-bottom: 30px; */
}

.class_package button a {
    color: #3bbfc3;
    text-decoration: none;
}

.class_package button a:hover {
    color: #0a0a0a;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .sub_factor_package {
        margin: 60px 100px;
    }

    .card_package {
        height: auto;
        border-radius: 20px;
    }

    .card-img-top_package {
        height: 25vh;
        padding: 20px;
    }

    .card-title_package {
        font-size: 30px;
    }

    .price h2 {
        font-size: 25px;
    }

    .book_button button {
        font-size: 18px;
        width: 120px;
        height: 30px;
        margin-top: 20px;
    }

    .class_package button {
        width: 180px;
        font-size: 18px;
        height: 30px;
        margin-top: 40px;
    }
}

/* Packages */






/* contact section */
.contact {
    padding-top: 20px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
    background-color: #f1f1f1;

}

.contact .bottom_text {
    text-align: center;
}

.contact_container {
    padding-top: 40px;
}


.contact-box {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contact-top {
    flex-basis: 70%;
    /* padding-left: 10%; */
    /* padding-bottom: 30px; */
}

.contact-top h3{
    text-align:center; 
    font-family: Playfair Display; 
    font-size: 40px; 
}

.contact-top textarea {
    width: 100%;
    border: 1px solid #0a0a0a;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #0e0d10;
}


/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .contact-top h3 {
        font-size: 32px;
    }
}


/* 
.contact-bottom {
    margin-top: 40px;
}

.contact_icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.icon_1 {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    align-content: center;
}

.icon_1 a {
    color: black;
    text-decoration: none;
    font-size: 40px;
}

.details {
    font-size: 24px;
    padding-left: 20px;
}
 .details p {
    margin:0;
}
 */



/* footer */
ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.footer {
    background-color: rgb(27, 25, 25);
    padding: 40px;
}

.footer-col {
    width: 25%;
    padding: 15px;
}

.footer-col h4 {
    font-size: 30px;

    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    background-color: #3bbfc3;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;

    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    background-color: #3bbfc3;
    color: white;
    text-align: center;
    display: inline-block;
    transition: all 0.5s ease;
}

.footer-col .social-links a {
    font-size: 30px;
    height: 40px;
    width: 40px;
    color: white;
    margin: 0 10px 10px 0;
    /* text-align: center; */
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    display: block;
    padding-top: 0px;
}

.footer-col .social-links a:hover {
    color: #3bbfc3;
    text-align: center;
    display: inline-block;
}

.copyright {
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: #0a0a0a;
    padding: 1%;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
   

    .footer-col h4 {
        font-size: 24px; /* Decrease the font size for better layout on the laptop screen size */
    }

    .footer-col .social-links a {
        font-size: 26px; /* Decrease the font size for better layout on the laptop screen size */
    }

    /* Add any other styles specific to the laptop screen size within this media query */
}

/* FOOTER */


/* category */

.home_top {
    height: 80vh;
    width: 100%;
    background-image: url(photo/2.png);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    animation: changeImage 10s linear infinite;
}


.text_1 {
    color: white;
  
    font-style: italic;
    padding-left: 15%;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    margin-top: 15%;
    margin-bottom: 10%;
}

.text_1 h1 {
    color: white;
    font-size: 90px;
    font-style: italic;
    /* padding-left: 15%; */
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    /* margin-top: 10%; */
    /* margin-bottom: 5%; */
}

.breadcrumb {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 0 0; */
    /* padding-left: 300px; */
    /* padding-top: 500px; */
    margin: 0;
    /* color: white; */
    /* margin-bottom: 1rem; */
    list-style: none;
}

.breadcrumb-item a {
    color: #fdfdfd;
    text-decoration: none;
}

.breadcrumb-item active {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #ffffff;
    content: var(--bs-breadcrumb-divider, "/");
}

.category_1 {
    background-color: #ffffff;
    text-align: center;
    height: auto;
}

.category_1 h3.top_text {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    /* font-size: 24px; */
    padding-top: 30px;
}

.category_1 h3.bottom_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    /* font-style: italic; */
    font-weight: bold;
}

.sub_factor_category {
    margin: 90px 235px;
}

.card_category {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    height: 580px;
    border-radius: 70px 0px 70px 0px;
    background-color: #3bbfc3;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
}

.card-img-top_category {
    width: 100%;
    height: 30vh;
    padding: 40px;
}

.card-title_category {
    margin-bottom: 15px;
    font-size: 36px;
    /* color: #3BBFC3; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}



.category_1_detail {
    margin: 15px;
}

.category_1_detail p {
    font-size: 16px;
    font-family: "Merienda", cursive;
    font-weight: 800;
    margin: 0;
    /* color: #3bbfc3; */
}

.book_button_category {
    padding-top: 5%;
    text-align: center;
}

.book_button_category button {
    background-color: #ffffff;
    font-size: 20px;
    width: 150px;
    outline: none;
    color: #000000;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
    height: 35px;
    border-radius: 30px;
    border: none;
}

.book_button_category button a {
    text-decoration: none;
    color: #000000;
}

.book_button_category button a:hover {
    color: #3bbfc3;
}

/* category for media query size 1030px to 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {

    .sub_factor_category {
      margin: 90px 150px;
    }
  
    .card_category {
      
      height: 460px;
      
    }
  }
  

/* Subcategory */

.sidenav_top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 90px;
}

.line {
    width: 1px;
    height: 500px;
    background-color: black;
    margin-right: 50px;
    margin-left: 50px;
}

/* Fixed sidenav, full height */
.sidenav {
    width: 500px;
    z-index: 1;
    top: 550px;
    left: 0;
    overflow-x: hidden;
    padding-left: 200px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: #3bbfc3;
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: revert;
    text-rendering: auto;
    top: 20px;
}

/* Main content */
.main {
    /* margin-left: 200px; */
    /* font-size: 20px; */
    /* padding-right: 200px; */
    display: flex;
}

.main_1 {
    font-size: 20px;
    padding-right: 200px;
    display: flex;

}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: white; */
    color: #3bbfc3;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    /* background-color: #262626; */
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.sub_container {
    padding-left: 30px;
    align-items: end;
    text-align: -webkit-left;
}

.sub_container a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: 500;
}

.main_heading h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
}

.main_paragraph p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Subcategory */

/* css for packages packages.php */

/* heading_of_packages */

.heading_of_package .head h1 {
    color: black;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 50px;
    font-style: italic;

}

/* for packages one */
.package {
    display: inline-flex;
    background-color: white;

}

.package .box {
    margin-left: 5%;
}

.package .box select {
    color: rgb(1, 1, 1);
    margin-bottom: 20%;
    justify-content: space-between;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-left: 3px;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid black;
}

/* line */
.package .line {
    border-left: 2px solid black;
    height: 500px;
    position: absolute;
    left: 21%;

}

.package .package_1 .for_img {
    margin-top: 20px;
    margin-left: 6%;
    margin-right: 5%;
    background-color: #0a0a0a;
    height: 300px;
    width: 100%;
}

.package .package_1 .for_img img {
    height: 100%;
    width: 100%;
}

.package .package_1 {
    display: inline-flex;
    margin-bottom: 5%;

}

/* horizontal line */
.package .column {
    width: 950px;
    height: 2px;
    background-color: black;
    margin-bottom: 3%;
    margin-left: 5%;
}

.package .package_1 .text_1 {
    margin-left: 1%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 5%;
    margin-top: 20px;

}

.package .package_1 .text_1 .view {
    margin-top: 3%;
}

.package .package_1 .text_1 .view button {
    border: none;
    font-size: 20px;
    background-color: rgb(224, 223, 222);
    border-bottom: 1px solid;
    font-style: italic;
    border-radius: 5px;
    outline: none;
}

.package .package_1 .text_1 .view button a {
    text-decoration: none;
    color: black;
}

.package .package_1 .text_1 .view button a:hover {
    color: #3BBFC3;
}


.package .package_1 .text_1 p {
    font-size: 20px;

}

.package .package_1 .text_1 h1 {
    padding-bottom: 3%;


}

.package .package_1 .text_1 p {
    padding-top: 1%;

}


/* Media Query for laptops with screen width between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .heading_of_package .head h1 {
        font-size: 40px;
    }

    .package .box select {
        height: 40px;
        font-size: 22px;
    }

    .package .line {
        height: 400px;
        left: 18%;
    }

    .package .package_1 .for_img {
        height: 250px;
    }

    .package .column {
        width: 800px;
    }

    .package .package_1 .text_1 .view button {
        font-size: 18px;
    }

    .package .package_1 .text_1 p {
        font-size: 18px;
    }

    .package .package_1 .text_1 h1 {
        font-size: 28px;
    }
}

/* css for uppar mustnag trek package uppar mustang trek.php */

/* heading_of_uppar mustnag */

/* vertical line */


.Package_line {
    border: 1px solid;
    height: 500px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}


 .text_1 {
    color: white;
    /* font-size: 90px; */
    font-style: italic;
    padding-left: 10%;
    margin-top: 20%;

}

.heading_of_package h1{
    color: rgb(7, 172, 159) ;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 50px;

}

/* Media query for screen sizes between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .Package_line {
        /* Update the styles as per your requirement for this screen size range */
        height: 400px;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .text_1 {
        /* Update the styles as per your requirement for this screen size range */
        font-size: 40px;
        margin-top: 10%;
    }

    .heading_of_package h1 {
        /* Update the styles as per your requirement for this screen size range */
        font-size: 40px;
    }
}

/* uppar_mustnag text */


.uppar_mustang{
    
 display: flex;
}
.uppar_mustang .about{
    
    width: 50%;
    padding: 9%;
    
}
.uppar_mustang .about p{
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
  
}

 .trip p{
    padding-bottom: 2%;
   
}
.trip .image{
    text-align: center;
}
.trip .image img{

   
    padding:3%;
}



/* about_1 */

.uppar_mustang .about_1{
    width: 50%;
    padding: 9%;
    text-align: center;

}
.uppar_mustang .about_1 h1{
    color:black;
    font-size: 60px;
    padding-bottom: 2%;
}
.uppar_mustang .about_1 h2{
    color:rgb(7, 172, 159);
    font-size: 50px;
    padding-bottom: 2%;
    font-style: italic;
    font-family: "Playfair Display", serif;
    font-weight: 900;

}

/* Media Query for screen size 1030px to 1366px */

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .uppar_mustang .about,
    .uppar_mustang .about_1 {
        width: 100%;
        padding: 5%;
    }

    .uppar_mustang .about p,
    .uppar_mustang .about_1 h1,
    .uppar_mustang .about_1 h2 {
        font-size: 24px;
    }

    .trip p {
        padding-bottom: 1%;
    }

    .trip .image img {
        padding: 1%;
    }
}

/* butoon_1 */

.uppar_mustang .about_1 .button_1{
    margin: 3%;
    padding-top: 4%;
   

}
.uppar_mustang .about_1 .button_1 button{
    background-color: rgb(7, 172, 159);
    font-size: 30px;
    width: 200px;   
    outline: none;
    color: white;
    height: 40px;
    border-radius: 30px;
    border: none;
}
.uppar_mustang .about_1 .button_1 button a{
   text-decoration: none;
    color: white;
 
}
.uppar_mustang .about_1 .button_1 button a:hover{
color: #0e0d10;
}

/* button_2 */


.uppar_mustang .about_1 .button_2{
    margin: 3%;
    padding-top: 4%;
   

}
.uppar_mustang .about_1 .button_2 button{
    background-color: white;
    font-size: 24px;
    width: 200px;   
    outline: none;
    color: rgb(7, 172, 159);
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgb(7, 172, 159);

}
.uppar_mustang .about_1 .button_2 button a{
    color: black;
    text-decoration: none;
}
.uppar_mustang .about_1 .button_2 button a:hover{
    color: rgb(7, 172, 159);;
}

/* Media Query for screen size between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    /* Styles for button_1 */
    .uppar_mustang .about_1 .button_1 {
        /* Update styles here for media query */
        /* Example: */
           margin: 5%;
           padding-top: 6%;
       
    }

    .uppar_mustang .about_1 .button_1 button {
        /* Update styles here for media query */
        /* Example: */
           font-size: 28px;
           width: 180px;
       
    }

    /* Styles for button_2 */
    .uppar_mustang .about_1 .button_2 {
        /* Update styles here for media query */
        /* Example: */
           margin: 4%;
           padding-top: 5%;
       
    }

    .uppar_mustang .about_1 .button_2 button {
        /* Update styles here for media query */
        /* Example: */
           font-size: 22px;
           width: 160px;
       
    }
}

/* icons */
.Package_icon {
    margin: 0px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon_heading {
    display: flex;
}

.icon_package {
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 5px; */
    /* font-size: 40px; */
    margin: 0px 20px;
    align-content: center;
}

.icon_package i{
    font-size: 40px;
    color: #3bbfc3;
}

.sub_details {
    padding-left: 40px;
    font-size: 36px;
    font-weight: 500;
}

.sub_details_1 {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    color: #3bbfc3;
  font-weight: bolder;
  font-style: italic;

}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    /* Additional styles for the specified media query size */
    .Package_icon {
        margin: 0px 30px;
    }

    .sub_details {
        padding-left: 20px;
        font-size: 30px;
    }

    .sub_details_1 {
        font-size: 50px;
    }
}

/* icons */


/* Trip overviews */

.trip{
   
    margin-top: 5%;
}

.trip h1{
    padding-top: 3%;
    padding-left: 8%;
    /* padding-right: 8%; */
    padding-bottom: 3%;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
}

.trip p{
    padding-left: 8%;
    padding-right: 8%;
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

.trip .image img{
    max-width: 1000px;
    height: auto;

}

/* Media Query for screen size between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .trip h1 {
        font-size: 40px;
    }

    .trip p {
        font-size: 20px;
    }
}

/* itineary */
.itinerary .heading{
    margin-left: 8%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.itinerary .heading h1{
    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
}
 .paragraph1 {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

/* Media Query for screen size: 1030px to 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
   
    .itinerary .heading h1 {
        font-size: 40px;
    }

    .paragraph1 p {
        font-size: 20px;
    }
    
    
}

/* 
.itinerary .day_1{
     margin-left: 8%;
     margin-right: 8%;
     margin-bottom: 10px;
    background-color:  #3bbfc3;
    padding-left: 4%;
    color:black;
    outline: none;
    border: none;
    border-radius: 40px;
} */
/* 

.itinerary .day_1 p{
    padding-left: 10%;
    font-size: 30px;
    margin: 0;
}
.itinerary .day_1 h2{
    font-size: 40px;
    margin: 0;
} */


/* include section */

.include .include_list h1{
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
  font-style: italic;
  font-size: 50px;
    

}

.include .include_list{
 margin-left: 8%;
 margin-right: 8%;
 font-size: 24px;
}
 

  
 .fa-check:before {
    content: "\f00d";
    padding-right: 30px;
    }


    /* Styles for media query size (1030px to 1366px) */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .include .include_list h1 {
      
      font-size: 40px; /* Adjust the font size as needed for this media query */
    }
  
    .include .include_list {
      font-size: 20px; /* Adjust the font size as needed for this media query */
    }
  
    
  
    .fa-check:before {
     
      font-size: 20px; /* Adjust the font size as needed for this media query */
    }
  }
  





 .fa-xmark:before {
    content: "\f00d";
    padding-right: 30px;
    color: red;
}

.map{
    margin-bottom: 8%;
   }
   .map .map_text h1{
       padding-left: 8%;
       padding-top: 4%;
       font-size: 60px;
       font-family: "Playfair Display", serif;
       font-weight: bolder;
     font-style: italic;
   }
   .map .map_img {
       text-align: center;
       margin-top: 8%;
       width: 100%;

   }

    .map_img img {
    max-width: 1000px;
    max-height: 1000px;

}



   @media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .map .map_text h1{
       
        font-size: 48px;
        
    }
  }
  
/* 
.include .exclude_list li:before{
  content: " \2A2F";
  font-size: 50px;
  color: red;
  margin-right: 15px;
} */

/* Booking  */

.container_booking {
    margin-bottom: 100px;
    margin-top: 60px;
}
/* css for enquiry page enquiry.php */

/* enquiry booking_form */

.booking_form{


    padding-bottom: 3%;
}
.booking_form .form_1{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 6%;

}

/* input_1 */

.booking_form .form_1 .input_1{
    margin: 2%;
}
.booking_form .form_1 .input_1 select{
    width: 100%;
    height: 40px;
    font-size: 20px;
}

/* input_2 */

.booking_form .form_1 .input_2{
    margin: 2%;
}
.booking_form .form_1 .input_2 input{
    width: 33%;
    height: 40px;
    font-size: 20px;

}
.booking_form .form_1 .input_2 h1{
    margin-bottom: 2%;
    color: black;
    font-style: italic;
}

/* input_6 */


.booking_form .form_1 .input_6{
    margin: 2%;
}
.booking_form .form_1 .input_6 input{
    width: 49.5%;
    height: 40px;
    font-size: 20px;
}
.booking_form .form_1 .input_6 label{
    font-size: 20px;
}

/* textarea sector*/

.booking_form .form_1 .input_3{
    margin: 2%;
}


.booking_form .form_1 .input_3 textarea{
    width: 100%;
    height: 40px;
    font-size: 20px;

}

/* button */
.booking_form .form_1 .button_1{
    margin: 2%;
}

.booking_form .form_1 .button_1 button{
    background-color: rgb(7, 172, 159);
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 5%;
}

/* css for category page category.php */

.category .heading_text {
    font-size: 30px;
    font-style: italic;
}

.category .heading_text h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

.category .heading_text h4 {
    text-align: center;
}

.category .sub_category {
    display: flex;

    margin: 0px 2%;
}

.category .sub_category .sub_1 {
    background-color: rgb(7, 172, 159);
    width: 33%;
    height: 570px;
    margin: 3%;
    border-radius: 70px 0px;
}

.category .sub_category .sub_1 .img img {
    width: 20%;
    height: 200px;
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;

    border-radius: 40px;
}

.category .sub_category .sub_1 .about {
    margin-top: 240px;
    height: 240px;
}

.category .sub_category .sub_1 .about h1 {
    text-align: center;
    font-size: 25px;
    padding-top: 5%;
}

.category .sub_category .sub_1 .about p {
    text-align: center;
    padding: 5%;
    font-size: 20px;
}

.category .sub_category .sub_1 .button {
    text-align: center;
}

.category .sub_category .sub_1 .button button {
    background-color: white;
    width: 150px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.category .sub_category .sub_1 .button button a {
    text-decoration: none;
    color: black;
}

.category .sub_category .sub_1 .button button a:hover {
    color: rgb(7, 172, 159);
}

.category .last_button {
    text-align: center;
    margin: 8%;
}

.category .last_button button {
    font-size: 20px;
    width: 200px;
    text-decoration: none;
    outline: none;
    color: white;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(7, 172, 159);
}


/* testimonial */
#testimonial{
    width:100%;
    /* padding: 70px 0; */
}

.title-text{
    text-align: center;
    padding-bottom: 70px ;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap:wrap ;

}
.testimonial-column{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-column p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info h4{
    FONT-FAMILY: 'Merriweather';
}


.user-info .fab{
    margin-left: 10px;
    color:#27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}
.testimonial-column:hover{
    transform: translateY(7px);
}