* {
  padding: 0px;
  margin: 0px;
}

/* index.php */

/* home */
.home {
  /* height: 100vh; */
  width: 100%;
  background-image: url(photo/2.png);
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  animation: changeImage 10s linear infinite;
}

@keyframes changeImage {
  25% {
    background-image: url(photo/2.png);
  }

  50% {
    background-image: url(photo/10.jpg);
  }

  75% {
    background-image: url(photo/9.jpg);
  }

  100% {
    background-image: url(photo/22.jpg);
  }
}

/* Navbar */

.logo {
  margin: 0%;
  padding: 0%;
  /* margin-right: 20%; */
}

.logo img {
  height: 70px;
  width: 220px;
  /* padding: 0px; */
  /* margin-left: 10%; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0%;
  background-color: rgba(26, 24, 24, 0.493);
  position: -webkit-sticky;
}

nav ul {
  list-style: none;
  margin: 0;
  /* PADDING-LEFT: 130px; */
  /* padding-right: 30px; */
  /* font-size: 64px; */
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 80px;
  font-size: 24px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* font-weight: bold; */

  font-family: "Merriweather", serif;
}

nav ul li a:hover {
  color: #3bbfc3;
  transition: 0.3s;
}

/* #menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
} */

/* Media Query for screen size between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* Adjust styles here for the specified screen size range */
  .logo img {
    height: 50px;
    width: 160px;
  }

  nav ul li {
    padding-right: 40px;
    font-size: 20px;
  }

  /* Add any other styles specific to this screen size range */
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo img {
    height: 50px;
    width: 140px;
  }

  nav ul li {
    padding-right: 20px;
    font-size: 16px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .logo img {
    height: 20px;
    width: 60px;
  }

  nav ul li {
    padding-right: 5px;
    font-size: 8px;
  }
}

/* Navbar */

/* Topic  */
.camp .text {
  background-color: #0a0a0a59;
  width: 50%;
  height: 90px;
  margin-top: 10%;
  margin-left: 10%;
  text-align: center;
  font-size: 55px;
  color: #3bbfc3;
  font-family: "Playfair Display", serif;
}

.camp .text:hover {
  color: white;
}

.camp p:hover {
  color: white;
}

.camp p {
  width: 60%;
  margin-top: 1%;
  margin-left: 9%;
  text-align: center;
  font-size: 95px;
  color: #3bbfc3;
  font-family: "Playfair Display", serif;
}

/* Topic for Media Query */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .camp .text {
    background-color: #0a0a0a59;
    width: 50%;
    height: 90px;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    font-size: 50px; /* Adjust font size for smaller screens */
    color: #3bbfc3;
    font-family: "Playfair Display", serif;
  }

  .camp .text:hover {
    color: white;
  }

  .camp p:hover {
    color: white;
  }

  .camp p {
    width: 60%;
    margin-top: 1%;
    margin-left: 9%;
    text-align: center;
    font-size: 70px; /* Adjust font size for smaller screens */
    color: #3bbfc3;
    font-family: "Playfair Display", serif;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .camp .text {
    margin-top: 30%;
    margin-left: 15%;
    height: 50px;
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .camp p {
    margin-top: 1%;
    margin-left: 12%;
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .camp .text {
    width: 60%;
    margin-top: 40%;
    margin-left: 15%;
    height: 24px;
    font-size: 15px; /* Adjust font size for smaller screens */
  }

  .camp p {
    margin-top: 1%;
    margin-left: 15%;
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}

/* Topic */

/* Search Button */
.search_1 {
  background-color: #000000;
  color: white;
  height: 10vh;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 355px;
}

.search_1 .search_2 input {
  color: rgb(1, 1, 1);
  border-radius: 7px;
  justify-content: space-between;
  height: 60px;
  width: 1000px;
  /* margin-top: 20px; */
  /* margin-left: 3px; */
  font-size: 30px;
}

/* .search_1 .search_2 select option{
    font-size: 30px;
} */
.search_1 .search_2 button {
  font-size: 30px;
  width: 150px;
  height: 60px;
  width: 150px;
  border-radius: 7px;
  background-color: white;
  /* color: red; */
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .search_1 {
    /* height: 7vh; */
    font-size: 30px;
    margin-top: 190px;
  }

  .search_1 .search_2 input {
    height: 50px;
    width: 800px;
    font-size: 26px;
  }

  .search_1 .search_2 button {
    font-size: 26px;
    width: 130px;
    height: 50px;
  }
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .search_1 {
    /* height: 7vh; */
    font-size: 20px;
    margin-top: 200px;
    height: 7vh;
  }

  .search_1 .search_2 input {
    height: 40px;
    width: 500px;
    font-size: 20px;
  }

  .search_1 .search_2 button {
    font-size: 20px;
    width: 70px;
    height: 40px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .search_1 {
    /* height: 7vh; */
    font-size: 14px;
    margin-top: 200px;
    height: 5vh;
  }

  .search_1 .search_2 input {
    height: 25px;
    width: 250px;
    font-size: 14px;
  }

  .search_1 .search_2 button {
    font-size: 14px;
    width: 50px;
    height: 25px;
  }
}
/* Search Button */

/* home */

/* middle */

/* welcome to travelling nepal */

.middle {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  height: auto;
  /* background-color: #07ac9f; */
}

.middle p {
  /* margin-top: 2%; */
  font-size: 24px;
  font-family: Merriweather;
}

.middle .top {
  font-family: "Merienda", cursive;
}

.middle h3 {
  font-size: 64px;
  padding: 3%;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

/* 
.middle_last{
    background-color: #f7f7fa;
    padding-bottom: 4%;
} */

/* for staff / booking  icon  */
.last {
  /* margin-left: 10%; */
  text-align: center;
  margin-top: 3%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.last p {
  font-family: "Merienda", cursive;
  font-weight: bolder;
  padding-top: 20px;
}

.icon_last i {
  font-size: 110px;
}

.last ul li {
  display: inline-block;
  font-size: 30px;
  /* margin-bottom: 0%; */
  /* margin-top: 0%; */
  padding: 0px 80px;
}

.last ul li h5 {
  display: inline-block;
  font-size: 15px;
  margin-top: 30%;
  margin-bottom: 0%;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .middle {
    height: auto;
    /* background-color: #07ac9f; */
  }

  .middle p {
    font-size: 18px;
  }

  .middle h3 {
    font-size: 40px; /* Adjust the font size for h3 in the middle class for this media query */
  }

  .last p {
    font-family: "Merienda", cursive;
    font-weight: bolder;
  }

  .icon_last i {
    font-size: 120px; /* Adjust the font size for the icon in the last class for this media query */
  }

  .last ul li h5 {
    /* display: inline-block; */
    font-size: 12px; /* Adjust the font size for the h5 in the last class for this media query */
    /* margin-top: 20%; Adjust the margin for the h5 in the last class for this media query */
    /* margin-bottom: 0%; */
  }

  .last ul li {
    font-size: 30px;
    /* margin-bottom: 0%; */
    /* margin-top: 0%; */
    padding: 0px 70px;
  }
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .middle {
    height: auto;
    /* background-color: #07ac9f; */
  }

  .middle p {
    font-size: 12px;
    /* padding: 0px 15px; */
  }

  .middle h3 {
    font-size: 30px; /* Adjust the font size for h3 in the middle class for this media query */
  }

  .last p {
    font-size: 14px;
  }

  .icon_last i {
    font-size: 60px; /* Adjust the font size for the icon in the last class for this media query */
  }

  /* 
    .last ul li h5 {
        display: inline-block;
        font-size: 12px; /* Adjust the font size for the h5 in the last class for this media query */
  /* margin-top: 20%; Adjust the margin for the h5 in the last class for this media query */
  /* margin-bottom: 0%; */
  /* } */

  .last ul li {
    font-size: 30px;
    /* margin-bottom: 0%; */
    /* margin-top: 0%; */
    padding: 0px 50px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .middle {
    height: auto;
    /* background-color: #07ac9f; */
  }

  .middle p {
    font-size: 10px;
    padding: 0px 15px;
  }

  .middle h3 {
    font-size: 20px; /* Adjust the font size for h3 in the middle class for this media query */
  }

  .last p {
    font-size: 8px;
  }

  .icon_last i {
    font-size: 30px; /* Adjust the font size for the icon in the last class for this media query */
  }

  /* 
    .last ul li h5 {
        display: inline-block;
        font-size: 12px; /* Adjust the font size for the h5 in the last class for this media query */
  /* margin-top: 20%; Adjust the margin for the h5 in the last class for this media query */
  /* margin-bottom: 0%; */
  /* } */

  .last ul li {
    font-size: 18px;
    /* margin-bottom: 0%; */
    /* margin-top: 0%; */
    padding: 0px 5px;
  }
}

/* choose your adventure */
.category {
  background-color: #f1f1f1;
  text-align: center;
  height: 100vh;
}

h3.top_text {
  font-family: "Merienda", cursive;
  font-size: 24px;
  padding-top: 30px;
}

h3.bottom_text {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
}

/* for photos and gallary */

.sub_factor {
  margin: 40px 235px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  /* background-clip: border-box; */
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border-radius: 0.25rem; */
}

.card-img-top {
  width: 100%;
  height: 25vh;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 24px;
  /* color: #3BBFC3; */
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
}

/* explore package button */
.class {
  text-align: center;
  margin-top: 1%;
  padding-bottom: 10%;
}

.class button {
  background-color: #3bbfc3;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 20px;
  /* margin-bottom: 30px; */
}

.class button a {
  color: white;
  text-decoration: none;
}

.class button a:hover {
  color: #0a0a0a;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .sub_factor {
    margin: 40px 100px; /* Adjust the margin for this screen size range */
  }

  .card-img-top {
    height: 25vh; /* Adjust the image height for this screen size range */
  }

  .card-title {
    font-size: 18px; /* Adjust the font size for card titles for this screen size range */
  }

  .class button {
    width: 180px; /* Adjust the button width for this screen size range */
    font-size: 18px; /* Adjust the button font size for this screen size range */
  }

  .class {
    padding-bottom: 10%;
  }
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .category {
    height: auto;
  }

  h3.top_text {
    font-size: 18px;
  }

  h3.bottom_text {
    font-size: 36px;
  }

  .sub_factor {
    margin: 20px 40px; /* Adjust the margin for this screen size range */
  }

  .card-img-top {
    height: 15vh; /* Adjust the image height for this screen size range */
  }

  .card-title {
    font-size: 9px; /* Adjust the font size for card titles for this screen size range */
  }

  .class button {
    width: 150px; /* Adjust the button width for this screen size range */
    font-size: 16px; /* Adjust the button font size for this screen size range */
  }

  .class {
    padding-bottom: 5%;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .category {
    height: auto;
  }

  h3.top_text {
    font-size: 14px;
  }

  h3.bottom_text {
    font-size: 30px;
  }

  .sub_factor {
    margin: 20px 80px; /* Adjust the margin for this screen size range */
  }

  .card-img-top {
    height: 20vh; /* Adjust the image height for this screen size range */
  }

  .card-title {
    font-size: 12px; /* Adjust the font size for card titles for this screen size range */
  }

  .class button {
    width: 150px; /* Adjust the button width for this screen size range */
    font-size: 16px; /* Adjust the button font size for this screen size range */
  }

  .class {
    padding-bottom: 10%;
  }
}

/* for photos and gallary */

/* packages */
.Package {
  background-color: #3bbfc3;
  text-align: center;
  height: auto;
  padding-bottom: 20px;
}

.sub_factor_package {
  margin: 40px 235px;
}

.card_package {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  height: 580px;
  border-radius: 70px 0px 70px 0px;
  background-color: #fff;
  /* background-clip: border-box; */
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border-radius: 0.25rem; */
}

.card-img-top_package {
  width: 100%;
  height: 30vh;
  padding: 40px;
}

.card-title_package {
  margin-bottom: 15px;
  font-size: 36px;
  /* color: #3BBFC3; */
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
}

.icon {
  display: inline-flex;
  /* flex-wrap: nowrap; */
  justify-content: flex-end;
  align-items: center;
}

.icon i {
  font-size: 30px;
  color: #3bbfc3;
}

.icon_1 {
  /* font-size: 15px; */
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  padding: 5px;
  align-content: center;
}

.icon_text {
  padding-left: 10px;
}

p.heading {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

p.sub_heading {
  margin: 0;
  font-size: 15px;
  /* color: #ffffff; */
}

.price {
  margin: 15px;
}

.price h2 {
  font-size: 30px;
  font-family: "Playfair Display";
  font-weight: 800;
  margin: 0;
  /* color: #3bbfc3; */
}

.book_button {
  padding-top: 5%;
  text-align: center;
}

.book_button button {
  background-color: #3bbfc3;
  font-size: 20px;
  width: 150px;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  border: none;
}

.book_button button a {
  text-decoration: none;
  color: white;
}

.book_button button a:hover {
  color: black;
}

.class_package {
  text-align: center;
  margin-top: 1%;
}

.class_package button {
  background-color: white;
  width: 200px;
  border: none;
  outline: none;
  color: #3bbfc3;
  height: 35px;
  border-radius: 30px;
  margin-top: 60px;
  font-size: 20px;
  /* margin-bottom: 30px; */
}

.class_package button a {
  color: #3bbfc3;
  text-decoration: none;
}

.class_package button a:hover {
  color: #0a0a0a;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .sub_factor_package {
    margin: 60px 100px;
  }

  .card_package {
    height: auto;
    /* border-radius: 20px; */
  }

  .card-img-top_package {
    height: 30vh;
    padding: 15px;
  }

  .card-title_package {
    font-size: 30px;
  }

  .price h2 {
    font-size: 25px;
  }

  p.heading {
    font-size: 10px;
  }

  p.sub_heading {
    font-size: 10px;
  }

  .book_button button {
    font-size: 18px;
    width: 120px;
    height: 30px;
    /* margin-top: 20px; */
  }

  .class_package button {
    width: 180px;
    font-size: 18px;
    height: 30px;
    /* margin-top: 40px; */
  }
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sub_factor_package {
    margin: 20px 40px;
  }

  .card_package {
    height: auto;
    /* border-radius: 20px; */
  }

  img.card-img-top_package {
    border-radius: 60px;
  }

  .card-img-top_package {
    height: 15vh;
    padding: 10px;
  }

  .card-title_package {
    font-size: 16px;
  }

  .icon_text {
    padding-left: 2px;
  }

  p.heading {
    font-size: 10px;
  }

  p.sub_heading {
    font-size: 10px;
  }

  .icon i {
    font-size: 12px;
  }

  .price h2 {
    font-size: 14px;
  }

  .book_button {
    padding-top: 1%;
  }

  .book_button button {
    font-size: 14px;
    width: 100px;
    height: 20px;
    /* margin-top: 20px; */
  }

  .class_package button {
    width: 180px;
    font-size: 18px;
    height: 30px;
    margin-top: 40px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .sub_factor_package {
    margin: 20px 40px;
  }

  .card_package {
    height: auto;
    /* border-radius: 20px; */
  }

  img.card-img-top_package {
    border-radius: 40px;
  }

  .card-img-top_package {
    height: 30vh;
    padding: 10px;
  }

  .card-title_package {
    font-size: 24px;
  }

  .icon_text {
    padding-left: 2px;
  }

  p.heading {
    font-size: 10px;
  }

  p.sub_heading {
    font-size: 10px;
  }

  .icon i {
    font-size: 12px;
  }

  .price h2 {
    font-size: 18px;
  }

  .book_button {
    padding-top: 1%;
  }

  .book_button button {
    font-size: 18px;
    width: 130px;
    height: 30px;
    /* margin-top: 20px; */
  }

  .class_package button {
    width: 180px;
    font-size: 18px;
    height: 30px;
    margin-top: 40px;
  }
}
/* Packages */

/* testimonial */
#testimonial {
  width: 100%;
  /* padding: 70px 0; */
}

.title-text {
  text-align: center;
  padding-bottom: 70px;
}

.testimonial-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.review_button {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.testimonial-column {
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #00968814;
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial-column p {
  font-size: 14px;
}
.user {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.user img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 20px;
  border-radius: 3px;
}

.user-info h4 {
  font-family: "Merriweather";
}

.user-info .fab {
  margin-left: 10px;
  color: #27c0ff;
  font-size: 20px;
}
.user-info small {
  color: #009688;
}
.testimonial-column:hover {
  transform: translateY(7px);
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  #testimonial {
    width: 100%;
    /* padding: 70px 0; */
  }

  .title-text {
    text-align: center;
    padding-bottom: 70px;
  }

  .testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .testimonial-column {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform 0.5s;
  }
  .testimonial-column p {
    font-size: 14px;
  }
  .user {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  

  .user-info h4 {
    
    font-size: 20px;
  }

  .user-info .fab {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
  }
  .user-info small {
    color: #009688;
  }
  .testimonial-column:hover {
    transform: translateY(7px);
  }
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .title-text {
    padding-bottom: 30px;
  }

  .testimonial-row {
    width: 95%;
  }

  .testimonial-column p {
    font-size: 14px;
  }

  .user img {
    width: 50px;
  }

  .user-info h4 {
    font-size: 10px;
  }

  .user-info .fab {
    font-size: 14px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .title-text {
    padding-bottom: 30px;
  }
  .testimonial-row {
    width: 80%;
    margin: auto;
    display: flow-root;
  }

  .testimonial-column p {
    font-size: 16px;
  }

  .user img {
    width: 60px;
  }

  .user-info h4 {
    font-size: 16px;
  }

  .user-info .fab {
    font-size: 16px;
  }
}

/* contact section */
.contact {
  padding-top: 20px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 20px;
  background-color: #f1f1f1;
}

.contact .bottom_text {
  text-align: center;
}

.contact_container {
  padding-top: 40px;
}

.contact-box {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contact-top {
  flex-basis: 70%;
  /* padding-left: 10%; */
  /* padding-bottom: 30px; */
}

.contact-top h3 {
  text-align: center;
  font-family: Playfair Display;
  font-size: 40px;
}

.contact-top textarea {
  width: 100%;
  border: 1px solid #0a0a0a;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #0e0d10;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* contact section */

  .contact {
    padding-top: 20px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
    background-color: #f1f1f1;
  }

  .contact .bottom_text {
    text-align: center;
  }

  .contact_container {
    padding-top: 40px;
  }

  .contact-box {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .contact-top {
    flex-basis: 70%;
    /* padding-left: 10%; */
    /* padding-bottom: 30px; */
  }

  .contact-top h3 {
    text-align: center;
    font-family: Playfair Display;
    font-size: 40px;
  }

  .contact-top textarea {
    width: 100%;
    border: 1px solid #0a0a0a;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #0e0d10;
  }
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .contact-box {
    padding-top: 20px;
  }

  .contact-top {
    flex-basis: 80%;
    /* padding-left: 10%; */
    /* padding-bottom: 30px; */
  }

  .contact-top h3 {
    font-size: 30px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .contact-box {
    padding-top: 20px;
  }

  .contact-top {
    flex-basis: 90%;
    /* padding-left: 10%; */
    /* padding-bottom: 30px; */
  }

  .contact-top h3 {
    font-size: 24px;
  }
}

/* 
.contact-bottom {
    margin-top: 40px;
}

.contact_icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.icon_1 {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    align-content: center;
}

.icon_1 a {
    color: black;
    text-decoration: none;
    font-size: 40px;
}

.details {
    font-size: 24px;
    padding-left: 20px;
}
 .details p {
    margin:0;
}
 */

/* footer */
ul {
  list-style: none;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: rgb(27, 25, 25);
  padding: 40px;
}

.footer-col {
  width: 25%;
  padding: 15px;
}

.footer-col h4 {
  font-size: 30px;

  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  background-color: #3bbfc3;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;

  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  background-color: #3bbfc3;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all 0.5s ease;
}


.footer-col img{

    /* vertical-align: middle; */
    width: -webkit-fill-available;

}



.footer-col .social-links a {
  font-size: 30px;
  height: 40px;
  width: 40px;
  color: white;
  margin: 0 10px 10px 0;
  /* text-align: center; */
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
  display: block;
  padding-top: 0px;
}

.footer-col .social-links a:hover {
  color: #3bbfc3;
  text-align: center;
  display: inline-block;
}

.copyright {
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: #0a0a0a;
  padding: 1%;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .footer-col h4 {
    font-size: 24px; /* Decrease the font size for better layout on the laptop screen size */
  }

  .footer-col ul li a {
    font-size: 18px;
  }

  .copyright {
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: #0a0a0a;
    padding: 1%;
  }

  /* Add any other styles specific to the laptop screen size within this media query */
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer-col h4 {
    font-size: 16px; /* Decrease the font size for better layout on the laptop screen size */
  }

  .footer-col ul li a {
    font-size: 10px;
  }

  .footer-col .social-links a {
    font-size: 9px;
    height: 30px;
    width: 40px;
    color: white;
    margin: 0 0px 10px 0;
  }

  .footer-col .social-links a i {
    font-size: 20px;
  }

  .copyright {
    font-size: 10px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .footer {
    /* background-color: rgb(27, 25, 25); */
    padding: 5px;
  }

  .footer-col h4 {
    font-size: 7px; /* Decrease the font size for better layout on the laptop screen size */
  }

  .footer-col ul li a {
    font-size: 7px;
  }
  .footer-col .social-links a {
    font-size: 8px;
    height: 30px;
    width: 20px;
    color: white;
    margin: 0 10px 10px 0;
  }

  .footer-col .social-links a i {
    font-size: 20px;
  }

  .copyright {
    font-size: 8px;
  }
}

/* FOOTER */

/* category */

.home_top {
  height: 80vh;
  width: 100%;
  background-image: url(photo/2.png);
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  animation: changeImage 10s linear infinite;
}

.text_1 {
  color: white;

  font-style: italic;
  padding-left: 15%;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  margin-top: 25%;
  /* margin-bottom: 10%; */
}

.text_1 h1 {
  color: white;
  font-size: 90px;
  font-style: italic;
  /* padding-left: 15%; */
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  /* margin-top: 10%; */
  /* margin-bottom: 5%; */
}



.breadcrumb {
  display: flex;
  /* flex-wrap: wrap; */
  /* padding: 0 0; */
  /* padding-left: 300px; */
  /* padding-top: 500px; */
  margin: 0;
  /* color: white; */
  /* margin-bottom: 1rem; */
  list-style: none;
}

.breadcrumb-item a {
  color: #fdfdfd;
  text-decoration: none;
  
}

.breadcrumb-item active {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #ffffff;
  content: var(--bs-breadcrumb-divider, "/");
}

.category_1 {
  background-color: #ffffff;
  text-align: center;
  height: auto;
}

.category_1 h3.top_text {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
  /* font-size: 24px; */
  padding-top: 30px;
}

.category_1 h3.bottom_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  /* font-style: italic; */
  font-weight: bold;
}

.sub_factor_category {
  margin: 90px 235px;
}

.card_category {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  height: 550px;
  border-radius: 70px 0px 70px 0px;
  background-color: #3bbfc3;
  /* background-clip: border-box; */
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border-radius: 0.25rem; */
}

.card-img-top_category {
  width: 100%;
  height: 30vh;
  padding: 40px;
  border-radius: 80px;
}
img.card-img-top_package {
  border-radius: 80px;
}

.card-title_category {
  margin-bottom: 15px;
  font-size: 36px;
  /* color: #3BBFC3; */
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
}

.category_1_detail {
  margin: 15px;
}

.category_1_detail p {
  font-size: 16px;
  font-family: "Merienda", cursive;
  font-weight: 800;
  margin: 0;
  /* color: #3bbfc3; */
}

.book_button_category {
  padding-top: 5%;
  text-align: center;
}

.book_button_category button {
  background-color: #ffffff;
  font-size: 20px;
  width: 150px;
  outline: none;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  height: 35px;
  border-radius: 30px;
  border: none;
}

.book_button_category button a {
  text-decoration: none;
  color: #000000;
}

.book_button_category button a:hover {
  color: #3bbfc3;
}

.form-floating {
  margin-bottom: 20px;
  position: relative;
}

/* Topic for Media Query */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .sub_factor_category {
    margin: 70px 100px;
  }
  .card-title_category {
    font-size: 24px;
  }

  
.card-img-top_category {
  /* width: 100%; */
  height: 30vh;
  padding: 20px;
  border-radius: 50px;
}

.card_category {
  
  height: 450px;
  
}


.text_1 {
    
  margin-top: 20%;
  
}

.text_1 h1 {
  font-size: 90px;
}


.breadcrumb-item a {
 
  font-size: 18px;
}

.breadcrumb-item active {
 
  font-size: 24px;
}

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home_top {
    height: 70vh;
  }

  
  .text_1 {
    
    margin-top: 60%;
    
  }

  .text_1 h1 {
    font-size: 70px;
  }

  

.breadcrumb-item a {
 
  font-size: 14px;
}

.breadcrumb-item active {
 
  font-size: 14px;
}


  .sub_factor_category {
    margin: 30px 20px;
  }
  
  .card_category {
    
    height: 400px;
    
}

.card-img-top_category {
    
    height: 200px;
    padding: 20px;
    border-radius: 50px;
}

  .card-title_category {
    font-size: 16px;
  }

  .card-title_detail p {
    font-size: 14px;
  }

  
.book_button_category button {
 
  font-size: 16px;
  
}


}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  
.home_top {
  height: 60vh;
}

.text_1 {
  
  margin-top: 70%;
  
}

.text_1 h1 {
  font-size: 40px;
}


.breadcrumb-item a {
 
  font-size: 10px;
}

.breadcrumb-item active {
 
  font-size: 10px;
}

.category_1 h3.top_text {
 
  font-size: 30px;
  
}

.category_1 h3.bottom_text {

font-size: 24px;

}

.sub_factor_category {
  margin: 30px 40px;
}

.card_category {
  
  height: 400px;
  
}

.card-img-top_category {
  
  height: 30vh;
  padding: 20px;
  border-radius: 50px;
}

.card-title_category {
  font-size: 16px;
}

.card-title_detail p {
  font-size: 14px;
}


.book_button_category button {

font-size: 16px;

}

}

/* Subcategory */

.sidenav_top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 90px;
}

.line {
  width: 1px;
  height: 500px;
  background-color: black;
  margin-right: 50px;
  margin-left: 50px;
}

/* Fixed sidenav, full height */
.sidenav {
  width: 500px;
  z-index: 1;
  top: 550px;
  left: 0;
  overflow-x: hidden;
  padding-left: 200px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #3bbfc3;
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: revert;
  text-rendering: auto;
  top: 20px;
}

/* Main content */
.main {
  /* margin-left: 200px; */
  /* font-size: 20px; */
  /* padding-right: 200px; */
  display: flex;
}

.main_1 {
  font-size: 20px;
  padding-right: 200px;
  display: flex;
}

/* Add an active class to the active dropdown button */
.active {
  /* background-color: white; */
  color: #3bbfc3;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  /* background-color: #262626; */
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sub_container {
  padding-left: 30px;
  align-items: end;
  text-align: -webkit-left;
}

.sub_container a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: 500;
}

.main_heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
}

.main_paragraph p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Subcategory */

/* css for packages packages.php */

/* heading_of_packages */



/* css for uppar mustnag trek package uppar mustang trek.php */

/* heading_of_uppar mustnag */

/* vertical line */

.Package_line {
  border: 1px solid;
  height: 500px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
/* 
.text_1 {
  color: white;
  font-size: 90px;
  font-style: italic;
  padding-left: 10%;
  margin-top: 20%;
} */


/* Media query for screen sizes between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .Package_line {
    /* Update the styles as per your requirement for this screen size range */
    height: 400px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* .text_1 { */
  /* Update the styles as per your requirement for this screen size range */
  /* font-size: 40px; */
  /* margin-top: 10%; */
  /* } */

  
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .Package_line {
 
    height: 350px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
  }

}

@media screen and (max-device-width: 480px) and (orientation: portrait) {

.Package_line {
 
  height: 235px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  
}
}

/* uppar_mustnag text */

.uppar_mustang {
  display: flex;
}
.uppar_mustang .about {
  width: 50%;
  padding: 9%;
}
.uppar_mustang .about p {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
}

.trip p {
  padding-bottom: 2%;
}
.trip .image {
  text-align: center;
}
.trip .image img {
  padding: 3%;
}

/* about_1 */

.uppar_mustang .about_1 {
  width: 50%;
  padding: 9%;
  text-align: center;
}
.uppar_mustang .about_1 h1 {
  color: black;
  font-size: 60px;
  padding-bottom: 2%;
}
.uppar_mustang .about_1 h2 {
  color: rgb(7, 172, 159);
  font-size: 50px;
  padding-bottom: 2%;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}




/* butoon_1 */

.uppar_mustang .about_1 .button_1 {
  margin: 3%;
  padding-top: 2%;
}
.uppar_mustang .about_1 .button_1 button {
  background-color: rgb(7, 172, 159);
  font-size: 30px;
  width: 200px;
  outline: none;
  color: white;
  height: 40px;
  border-radius: 30px;
  border: none;
}
.uppar_mustang .about_1 .button_1 button a {
  text-decoration: none;
  color: white;
}
.uppar_mustang .about_1 .button_1 button a:hover {
  color: #0e0d10;
}

/* button_2 */

.uppar_mustang .about_1 .button_2 {
  margin: 3%;
  padding-top: 2%;
}
.uppar_mustang .about_1 .button_2 button {
  background-color: white;
  font-size: 24px;
  width: 200px;
  outline: none;
  color: rgb(7, 172, 159);
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgb(7, 172, 159);
}
.uppar_mustang .about_1 .button_2 button a {
  color: black;
  text-decoration: none;
}
.uppar_mustang .about_1 .button_2 button a:hover {
  color: rgb(7, 172, 159);
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
 
  .uppar_mustang .about {
    /* width: 100%; */
    padding: 4%;
}

.uppar_mustang .about p {
  font-size: 28px;
 
}

.Package_line {
  height: 300px;
  margin-top: 50px;
  
}

.uppar_mustang .about_1 {
  
  padding: 4%;
 
}

.uppar_mustang .about_1 h1 {
 
  font-size: 48px;
  padding-bottom: 2%;
}
.uppar_mustang .about_1 h2 {
 
  font-size: 48px;
  
}

.uppar_mustang .about_1 .button_1 button {
  font-size: 18px;
  width: 170px;
  height: 50px;
  border-radius: 30px;

}

.uppar_mustang .about_1 .button_2 button {
  font-size: 18px;
    width: 170px;
    height: 50px;
    border-radius: 30px;
}

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
   
  .uppar_mustang .about {
    
    padding: 4%;
}

.uppar_mustang .about p {
  font-size: 24px;
 
}

.Package_line {
 
  height: 420px;
  margin-top: 20px;
  
}

.uppar_mustang .about_1 {
  
  padding: 4%;
 
}

.uppar_mustang .about_1 h1 {
 
  font-size: 40px;
  /* padding-bottom: 5%; */
}
.uppar_mustang .about_1 h2 {
 
  font-size: 40px;
  
}

.uppar_mustang .about_1 .button_1 button {
 
  font-size: 18px;
  width: 150px;
  height: 50px;
  border-radius: 20px;

}

.uppar_mustang .about_1 .button_2 button {
  
  font-size: 18px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  
}

}


@media screen and (max-device-width: 480px) and (orientation: portrait) {
  
  .uppar_mustang .about {
    /* width: 4%; */
    padding: 4%;
}

.uppar_mustang .about p {
  font-size: 14px;
 
}


.uppar_mustang .about_1 {
  
  padding: 4%;
 
}

.uppar_mustang .about_1 h1 {
 
  font-size: 24px;
  padding-bottom: 2%;
}
.uppar_mustang .about_1 h2 {
 
  font-size: 24px;
  
}

.uppar_mustang .about_1 .button_1 button {
 
  font-size: 18px;
  width: 125px;
  height: 30px;
  border-radius: 20px;

}

.uppar_mustang .about_1 .button_2 button {
  
  font-size: 18px;
  width: 125px;
  
  height: 30px;
  border-radius: 20px;
  
}

}





/* icons */
.Package_icon {
  margin: 0px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon_heading {
  display: flex;
}

.icon_package {
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  /* padding: 5px; */
  /* font-size: 40px; */
  margin: 0px 20px;
  align-content: center;
}

.icon_package i {
  font-size: 40px;
  color: #3bbfc3;
}

.sub_details {
  padding-left: 40px;
  font-size: 36px;
  font-weight: 500;
}

.sub_details_1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  color: #3bbfc3;
  font-weight: bolder;
  font-style: italic;
}

/* Media Query for laptop size: 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* Additional styles for the specified media query size */
  .Package_icon {
    margin: 0px 30px;
  }

  .sub_details {
    padding-left: 20px;
    font-size: 36px;
  }

  .sub_details_1 {
    font-size: 36px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Package_icon {
    margin: 24px;
  }

  /* .icon_heading {
    display: grid;
   
} */

.icon_package i {
  font-size: 20px;
  color: #3bbfc3;
}

  .sub_details {
    padding-left: 10px;
    font-size: 20px;
    padding-bottom: 0px;
  }

  .sub_details_1 {
    font-size: 20px;
   
}
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .Package_icon {
    margin: 0;
  }

  .icon_heading {
    display: grid;
   
}

  .sub_details {
    padding-left: 20px;
    font-size: 30px;
    padding-bottom: 10px;
  }

  .sub_details_1 {
    font-size: 30px;
   
}
 
  }

/* icons */

/* Trip overviews */

.trip {
  margin-top: 5%;
}

.trip h1 {
  padding-top: 3%;
  padding-left: 8%;
  /* padding-right: 8%; */
  padding-bottom: 3%;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
}

.trip p {
  padding-left: 8%;
  padding-right: 8%;
  font-size: 24px;
  font-family: "Merriweather", serif;
}

.trip .image img {
  max-width: 1000px;
  height: auto;
}

/* Media Query for screen size between 1030px and 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .trip h1 {
    font-size: 40px;
  }

  .trip p {
    font-size: 20px;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .trip h1 {
    font-size: 30px;
  }

  .trip p {
    font-size: 14px;
  }
}

/* itineary */
.itinerary .heading {
  margin-left: 8%;
  padding-top: 5%;
  padding-bottom: 2%;
}
.itinerary .heading h1 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
}
.paragraph1 {
  margin-left: 8%;
  margin-right: 8%;
  font-size: 24px;
  font-family: "Merriweather", serif;
}

/* Media Query for screen size: 1030px to 1366px */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .itinerary .heading h1 {
    font-size: 40px;
  }

  .paragraph1 p {
    font-size: 20px;
  }
}



@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .itinerary .heading h1 {
    font-size: 30px;
  }

  .paragraph1 p {
    font-size: 14px;
  }
}
/* 
.itinerary .day_1{
     margin-left: 8%;
     margin-right: 8%;
     margin-bottom: 10px;
    background-color:  #3bbfc3;
    padding-left: 4%;
    color:black;
    outline: none;
    border: none;
    border-radius: 40px;
} */
/* 

.itinerary .day_1 p{
    padding-left: 10%;
    font-size: 30px;
    margin: 0;
}
.itinerary .day_1 h2{
    font-size: 40px;
    margin: 0;
} */

/* include section */

.include .include_list h1 {
  margin-top: 8%;
  margin-bottom: 2%;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 50px;
}

.include .include_list {
  margin-left: 8%;
  margin-right: 8%;
  font-size: 24px;
}

.fa-check:before {
  content: "\f00d";
  padding-right: 30px;
}

/* Styles for media query size (1030px to 1366px) */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .include .include_list h1 {
    font-size: 40px; /* Adjust the font size as needed for this media query */
  }

  .include .include_list {
    font-size: 20px; /* Adjust the font size as needed for this media query */
  }

 
}


@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .include .include_list h1 {
    font-size: 30px; /* Adjust the font size as needed for this media query */
  }

  .include .include_list {
    font-size: 14px; /* Adjust the font size as needed for this media query */
  }

  
}

.fa-xmark:before {
  content: "\f00d";
  padding-right: 30px;
  color: red;
}

.map {
  margin-bottom: 8%;
}
.map .map_text h1 {
  padding-left: 8%;
  padding-top: 4%;
  font-size: 60px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
}
.map .map_img {
  text-align: center;
  margin-top: 8%;
  width: 100%;
}

.map_img img {
  max-width: 1000px;
  max-height: 1000px;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .map .map_text h1 {
    font-size: 54px;
  }

}


@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .map .map_text h1 {
    font-size: 24px;
  }

  .map_img img {
    max-width: 300px;
    max-height: 250px;
}

  
}

/* 
.include .exclude_list li:before{
  content: " \2A2F";
  font-size: 50px;
  color: red;
  margin-right: 15px;
} */

/* Booking  */

.container_booking {
  margin-bottom: 100px;
  margin-top: 60px;
}
/* css for enquiry page enquiry.php */

/* enquiry booking_form */

.booking_form {
  padding-bottom: 3%;
}
.booking_form .form_1 {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 6%;
}

/* input_1 */

.booking_form .form_1 .input_1 {
  margin: 2%;
}
.booking_form .form_1 .input_1 select {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

/* input_2 */

.booking_form .form_1 .input_2 {
  margin: 2%;
}
.booking_form .form_1 .input_2 input {
  width: 33%;
  height: 40px;
  font-size: 20px;
}
.booking_form .form_1 .input_2 h1 {
  margin-bottom: 2%;
  color: black;
  font-style: italic;
}

/* input_6 */

.booking_form .form_1 .input_6 {
  margin: 2%;
}
.booking_form .form_1 .input_6 input {
  width: 49.5%;
  height: 40px;
  font-size: 20px;
}
.booking_form .form_1 .input_6 label {
  font-size: 20px;
}

/* textarea sector*/

.booking_form .form_1 .input_3 {
  margin: 2%;
}

.booking_form .form_1 .input_3 textarea {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

/* button */
.booking_form .form_1 .button_1 {
  margin: 2%;
}

.booking_form .form_1 .button_1 button {
  background-color: rgb(7, 172, 159);
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 5%;
}

/* css for category page category.php */

.category .heading_text {
  font-size: 30px;
  font-style: italic;
}

.category .heading_text h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.category .heading_text h4 {
  text-align: center;
}

.category .sub_category {
  display: flex;

  margin: 0px 2%;
}

.category .sub_category .sub_1 {
  background-color: rgb(7, 172, 159);
  width: 33%;
  height: 570px;
  margin: 3%;
  border-radius: 70px 0px;
}

.category .sub_category .sub_1 .img img {
  width: 20%;
  height: 200px;
  position: absolute;
  margin-top: 3%;
  margin-left: 3%;

  border-radius: 40px;
}

.category .sub_category .sub_1 .about {
  margin-top: 240px;
  height: 240px;
}

.category .sub_category .sub_1 .about h1 {
  text-align: center;
  font-size: 25px;
  padding-top: 5%;
}

.category .sub_category .sub_1 .about p {
  text-align: center;
  padding: 5%;
  font-size: 20px;
}

.category .sub_category .sub_1 .button {
  text-align: center;
}

.category .sub_category .sub_1 .button button {
  background-color: white;
  width: 150px;
  border: none;
  outline: none;
  color: black;
  height: 35px;
  border-radius: 30px;
  margin-top: 30px;
  font-size: 20px;
}

.category .sub_category .sub_1 .button button a {
  text-decoration: none;
  color: black;
}

.category .sub_category .sub_1 .button button a:hover {
  color: rgb(7, 172, 159);
}

.category .last_button {
  text-align: center;
  margin: 8%;
}

.category .last_button button {
  font-size: 20px;
  width: 200px;
  text-decoration: none;
  outline: none;
  color: white;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(7, 172, 159);
}
